/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #212529 !important;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #00A8E8 !important;
}

/* Landing Section */
#landing {
    background-color: #ffffff;
    padding: 60px 20px;
    animation: fadeIn 1.5s ease-in-out;
}

/* Profile Image */
.profile-img {
    transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
    transform: scale(1.1);
}

/* Projects Section */
.card {
    border: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

/* Buttons */
.btn-primary {
    background-color: #004080;
    border-color: #004080;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #003060;
    border-color: #003060;
}

.btn-dark {
    background-color: #212529;
    border-color: #212529;
    transition: all 0.3s ease-in-out;
}

.btn-dark:hover {
    background-color: #343a40;
    border-color: #343a40;
}

/* Contact Section */
#contact {
    background-color: #f8f9fa;
    padding: 50px 20px;
}

#contact-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Design Section Carousel Images */
.design-img {
    max-height: 500px;
    object-fit: contain;
    width: 100%;
    background-color: #ffffff; /* Optional: for padding areas */
    padding: 10px; /* Optional: some space around images */
}

@media (max-width: 768px) {
    .design-img {
        max-height: 350px;
    }
}

@media (max-width: 576px) {
    .design-img {
        max-height: 250px;
    }
}
.tool-img {
    transition: transform 0.3s ease-in-out;
}
.tool-img:hover {
    transform: scale(1.1);
}
/* Footer */
footer {
    background-color: #212529;
    color: white;
    padding: 15px;
}
.carousel-item-content {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
}

#graphic-design-carousel {
    max-width: 900px;
    margin: 0 auto;
  }


/* Animations */
/* @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */
